<footer class="simple-footer">- Copyright © {{ site.time | date: '%Y' }} Yago Riveiro -</footer>

<!-- JavaScript -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/modernizr/{{ site.data.versions.modernizr }}/modernizr.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/{{ site.data.versions.jquery }}/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/{{ site.data.versions.bootstrap }}/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fitvids/{{ site.data.versions.fitvids }}/jquery.fitvids.min.js"></script>
<script type="text/javascript" src="{{ "/js/script.js" | prepend: site.url }}"></script>
{% include analytics.html %}
