/* Aesthetic assets/elements, across the whole theme. */

[class*="icon-"], [class^="icon-"] {
  border:none
}

.button {
  font: normal .6875em $font-family-bold;
  background: none;
  text-align: center;
  line-height: 1.8125em;
  color: $text-color-link !important;
}

.button-read-more {
  line-height: 3.75em;
  font-size: 1em;
}

.button-go-to-top {
  line-height: 3.75em;
  font-size: 1em;
}

hr {
  width: 100%;
  border: none;
  border-bottom: 1px solid $background-borders
}

.social-media-share {
  margin-top: .7em;
  margin-bottom: .75em;

  a {
    color: $text-color-bright;
    font-size: 2.25em;
    padding-left: .3em;

    &:hover {
      color: $background-grey;
    }
  }
}

.social-footer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  margin: 15.4em 0 0 0;
}

.pagination {
  padding-top:.5em;

  .older-posts {
    float:right
  }
  .newer-posts {
    float:left
  }
}

.post-footer {
  width: 100%;
  background: none;
  position: relative;
  margin-top: 3.75em;
  border-top: 1px solid $background-borders;

  .post-navigation {
    text-align: left;
    width: 30%;
    float: left;
  }

  .post-share {
    float: right;
  }
}

.post-share-options {
  margin-top: .7em;
  margin-bottom: .75em;

  span {
    line-height: 2.5em;
    vertical-align: top;
    margin-top: 1em;
    font-family: "Nexa Bold","Helvetica Neue",Helvetica,sans-serif,Helvetica,sans-serif;
  }

  a {
    font-size: 2.25em;
    padding-left: .3em;

    &:hover {
      color: $background-grey !important;
    }
  }
}
.post-footer-author-avatar {
  position: absolute;
  top: -2.75em;
  left: calc(50% - 2.750em);

}
.author {
  margin: 3em 0 1.15em;
  text-align: center;
  position: relative;
}

.author-avatar {
  overflow: hidden;
  margin: 0 auto;
}

.author-avatar-small {
  width: 5.5em;
  height: 5.5em;
}

.author-avatar-normal {
  width: 6.875em;
  height: 6.875em;
}

.avatar-image {
  display: block;
  background-size: cover;
  border-radius: 100%;
  border: 1.75px solid $text-color-bright;
}

.avatar-image-small {
  @extend .avatar-image;

  width: 5.5em;
  height: 5.5em;
  border: 1.75px solid $background-borders;
}

.avatar-image-normal {
  @extend .avatar-image;

  width: 6.875em;
  height: 6.875em;
}

.author-name {
  font: 3em 'Grand Hotel';
  margin: .1em;
  color: $text-color-bright;
  border: none;
}

.about {
  padding: 1em;
  background: rgba(51, 51, 51 , .5);
  width: 7em;
  position: absolute;

  a {
    font: normal 1em $font-family-bold;
    color: $text-color-bright;
    text-decoration: none;

    &:hover {
      color: $background-grey !important;
    }
  }
}
