/* Define breakpoints, for responsive behavior. */

$bp-high-resolution: 1280px;
$bp-tablets: 1025px;
$bp-phones: 600px;
$bp-small-phones-l: 480px;
$bp-small-phones-p: 410px;


/* =========================================================================== */
/*      VERY HIGH RESOLUTION SCREEN BREAKPOINT.                                */
/* =========================================================================== */

@media screen and (min-width: bp-calculation($bp-high-resolution, "down")) {
  #main {
    padding-bottom: 5em !important;
    padding-top: 19.2em;
    padding-left: 25%;
    padding-right: 25%;
    margin: 0;
  }
}

/* =========================================================================== */
/*      HIGH RESOLUTION SCREEN BREAKPOINT.                                     */
/* =========================================================================== */

@media screen and (max-width: bp-calculation($bp-high-resolution, "down")) {
  #main {
    padding-bottom: 5em !important;
    padding-top: 19.2em;
    padding-left: 25%;
    padding-right: 25%;
    margin: 0;
  }
}

/* =========================================================================== */
/*      TABLETS BREAKPOINT.                                                    */
/* =========================================================================== */

@media screen and (max-width: bp-calculation($bp-tablets, "down")) {
  #main {
    padding-bottom: 5em !important;
    padding-top: 19.2em;
    padding-left: 15%;
    padding-right: 15%;
    margin: 0;
  }
}

@media screen and (max-width: bp-calculation($bp-tablets, "down")) and (orientation: landscape) {
  #main {
    padding-bottom: 5em !important;
    padding-top: 19.2em;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0;
  }
}

@media screen and (max-width: 768px) and (orientation: portrait) {
  #main {
    padding-bottom: 5em !important;
    padding-top: 19.2em;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0;
  }
}


/* =========================================================================== */
/*      PHONES BREAKPOINT.                                                     */
/* =========================================================================== */
@media screen and (max-width: $bp-phones) and (orientation: portrait) {
  #main {
    padding-bottom: 5em !important;
    padding-top: 19.2em;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0;
  }
}


/* =========================================================================== */
/*      SMALL PHONES BREAKPOINT.                                               */
/* =========================================================================== */

@media screen and (max-width: $bp-small-phones-l) and (orientation: portrait) {
  #main {
    padding-bottom: 5em !important;
    padding-top: 19.2em;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0;
  }
}
